h1,h2,h3,h4{
  font-family: amiri;
}

header {
  background-color: rgb(29 78 216);/*blue-700*/
  padding: .5em;
  text-align: center;
  color: rgb(239 246 255);/*blue-50*/
  height: fit-content;
}
.headerUl{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.headerUl > li:first-child a {
  color: rgb(239 246 255);
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
  margin: auto;
 
}

.headerUl a {
  color: rgb(51 65 85);
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
}
.headerUl a:hover {
  color: rgb(147 197 253);
}
/* Body */
body{
  justify-content: center;
  background-color: rgb(250 250 249);
}
/* Footer */
footer{
  text-align: center;
  font-size: 1em;
}
/*v-balance table*/
/* table */
.v_balance caption{
  font-weight: bold;
  text-align: center;
  font-size: 1.1em;
  background-color: rgb(10 10 10);
  color: #dadce0;
  height: 3vh;
  padding: 1vh 1vh;
}
.v_balance {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: amiri;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(129, 129, 129, 500);

}
.v_balance td{
  width: auto;
  height:5vh;
  text-align: center;
  color: black;
  font-weight: bold;
}

.v_balance th{
  color: #fff;
  width: 12vh;
  height:4vh;
  text-align: center;
}

.v_balance th:nth-child(even) {
  background-color: rgba(244 63 94);
}
.v_balance th:nth-child(odd) {
  background-color: rgba(16 185 129);
}

/* table */
.r_table caption{
  font-weight: bold;
  text-align: center;
  font-size: 1em;
  color: #dadce0;
  background-color: rgb(10 10 10);
  height: 3vh;
  padding: 1vh 1vh;
}
.r_table {
  margin:auto;
  width: 100%;
  padding: 10px 20px;
  border: 1px solid rgba(129, 129, 129, 500);
  border-collapse: collapse;
  font-family: amiri;
}
.r_table td{
  width: auto;
  height:5vh;
  text-align: center;
  color: black;
  font-weight: bold;
}

.r_table th{
  color: rgba(85, 85, 85);
  background-color: rgb(245 245 245);
  width: 12vh;
  height:4vh;
  text-align: center;
}

/* div */
.stuName{
  text-align: center!important;
  font-size: 1.1em;
  direction: rtl;
}

/*Step one*/
.label1Step{
  font-size: 1.5em;
  font-weight: bold;
}
.input1Step{
  font-size: 1.5em;
  height: fit-content;
  color: rgb(87, 87, 87);
}
.btnf {
  background-color: rgb(59 130 246);
  border: .5px solid rgb(191 219 254);
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-family: arial,sans-serif;
  font-size: 1em;
  height: 5vh;
  line-height: 27px;
  width: 50%;
  padding: 0 16px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 2.5vh!important;
  margin-bottom: 5vh;
  }
  
  .btnf:hover {
    border: 1px solid rgb(191 219 254);
    box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
    color: #ffffff;
  }
  
  .btnf:focus {
    border-color: #0080ff;
    outline: none;
  }

  .signUP{
    color: rgb(10 10 10);
    text-decoration:rgb(163 163 163) underline;
    font-family: arial,sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    touch-action: manipulation;
    cursor: pointer;
  
  }

/*Step two*/
.label2Step{
  font-size: 1.5em;
  justify-content:left ;
}
.input2Step{
  font-size: 1em;
  height: fit-content;
  color: rgb(87, 87, 87);
}
.btng {
  background-color: #0080ff;
  border: 1px solid #0080ff;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-family: arial,sans-serif;
  font-size: 1em;
  height: 5vh;
  line-height: 27px;
  width: 50%;
  padding: 0 16px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 10vh!important;
  margin-bottom: 10vh;
}

.btng:hover {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
  color: #ffffff;
}

.btng:focus {
  border-color: #0080ff;
  outline: none;
}
hr{
  width: 25vh;
  margin-top: .1vh;
  margin-bottom: 5vh;
}
