header {
  background-color: #00aeff;
  padding: 1em;
  text-align: center;
  color: #fff;
}
.headerUl{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.headerUl>li{
  margin: 0 1em;
}

.headerUl a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
}

.headerUl a:hover {
  color: rgb(124, 203, 255);
}
/* Body */
body{
  justify-content: center;
}
/* Footer */
footer{
  text-align: center;
  font-size: 1em;
}
/* table */
caption{
  font-weight: bold;
  text-align: center;
  font-size: 1em;
  background-color: #00aeffd8;
  height: 2.5vh;
  padding: 2vh 1vh;
}
table{
  margin:auto;
  width: 100%;
  padding: 10px 20px;
  border: 1px solid rgba(129, 129, 129, 500);
  border-collapse: collapse;
}
td{
  width: auto;
  height:5vh;
  text-align: center;
  color: black;
  font-weight: bold;
}

th{
  color: rgba(85, 85, 85);
  width: 12vh;
  height:10vh;
  text-align: center;
}

th:nth-child(even) {
  background-color: rgba(255, 18, 97, 0.500);
}
th:nth-child(odd) {
  background-color: rgba(18, 255, 18, 0.500);
}

/* div */
.stuName{
  text-align: center!important;
  font-size: 1.1em;
  direction: rtl;
}

/*Step one*/
.label1Step{
  font-size: 1.5em;
  font-weight: bold;
}
.input1Step{
  font-size: 1.5em;
  height: fit-content;
  color: rgb(87, 87, 87);
}
.btnf {
  background-color: #0080ff;
  border: 1px solid #0080ff;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-family: arial,sans-serif;
  font-size: 1em;
  height: 5vh;
  line-height: 27px;
  width: 50%;
  padding: 0 16px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 10vh!important;
  margin-bottom: 10vh;
  }
  
  .btnf:hover {
    border-color: #dadce0;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
    color: #ffffff;
  }
  
  .btnf:focus {
    border-color: #0080ff;
    outline: none;
  }


/*Step two*/
.label2Step{
  font-size: 1.5em;
  justify-content:left ;
}
.input2Step{
  font-size: 1em;
  height: fit-content;
  color: rgb(87, 87, 87);
}
.btng {
  background-color: #0080ff;
  border: 1px solid #0080ff;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-family: arial,sans-serif;
  font-size: 1em;
  height: 5vh;
  line-height: 27px;
  width: 50%;
  padding: 0 16px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 10vh!important;
  margin-bottom: 10vh;
}

.btng:hover {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
  color: #ffffff;
}

.btng:focus {
  border-color: #0080ff;
  outline: none;
}
hr{
  width: 25vh;
  margin-top: .1vh;
  margin-bottom: 5vh;
}
.signUP{
  color: rgb(0, 0, 0);
  text-decoration:#808080 underline;
  font-family: arial,sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  touch-action: manipulation;
  cursor: pointer;

}